body
{
    margin: 0px;
    padding:0px;
    background: #FCFCFC;
}
.box
{
    margin: auto;
    margin-top: 50px;
    width: 900px;
    height: 800px;
}
.talk
{
    width: 75%;
    height: 100%;
    border-bottom: 0px red solid;
    float: left;
}
.users
{
    width: 20%;
    height: 600px;
    border: 1px red solid;
    float: left;
}
.talk_show
{
    height: 600px;
    border: 1px blue solid;
}

.talk_in
{
    height: 190px;
    position: relative;
}